@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

* {
    margin: 0 auto;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 2%;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #04146c;
}

input,
button {
    display: block;
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Mulish', sans-serif;
}

input,
p {
    font-size: 14px;
    font-weight: 400;
}

button {
    font-size: 15px;
    font-weight: 600;
    background-color: #0a2ff1;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

form {
    text-align: center;
    padding: 22px;
}

p {
    margin-top: 2%;
}

hr {
    margin-top: 25px;
    width: 500px;
}

div {
    border: 1px solid #9292ac;
    padding: 29px;
    width: 594px;
    height: 400px;
    margin-top: 33px;
}

a {
    text-decoration: none;
    color: #0a2ff1;
}