@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');


body {
    background-image: url(/img/M4-desafio1-fondo.png);
}

input,
button {
    display: block;
    width: 75%;
    height: 50px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 11px;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
}

input {
    font-weight: 400;
    color: #414166;
}

button {
    font-weight: 600;
    color: white;
    background-color: #15163d;
}

h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    color: #04146c;
    font-weight: 700;
}

div {
    width: 50%;
    margin: 0% auto;
}

form {
    text-align: center;
    padding: 20px;
    background-color: white;
    margin: 2% -24% 2% -24%;
    padding-bottom: 20%;
}

.padre {
    margin-top: 4%;
    background-image: url(/img/M4-desafio1-fondo-form.png);
    background-position: 0%;
    padding: 1%;
    padding-left: 0%;
    padding-right: 0%;
}